
/* Styling the area of the slides */
#slideshow {
overflow: hidden;
height: 510px;
width: 1000px;
margin: 5% auto ;
border-radius: 72px;
box-shadow: 0 0 60px 30px maroon;
}

#slideshow:hover{
    transition: transform 1200ms;
    transform: scale(1.5);
}

/* Style each of the sides
with a fixed width and height */
.slide {
float: left;
height: 510px;
width: 1000px;
}

.slide img{
    width: 100%;
    height: 100%;
}

/* Add animation to the slides */
.slide-wrapper {

/* Calculate the total width on the
basis of number of slides */
width: calc(1000px * 10);

/* Specify the animation with the
duration and speed */
animation: slide 50s  infinite;
}


/* Define the animation
for the slideshow */
@keyframes slide {

/* Calculate the margin-left for
each of the slides */
10% {
	margin-left: 0px;
}
20% {
	margin-left: calc(-1000px * 1);
}
30% {
	margin-left: calc(-1000px * 2);
}
40% {
	margin-left: calc(-1000px * 3);
}
50% {
	margin-left: calc(-1000px * 4);
}
60% {
	margin-left: calc(-1000px * 5);
}
70% {
	margin-left: calc(-1000px * 6);
}
80% {
	margin-left: calc(-1000px * 7);
}
90% {
	margin-left: calc(-1000px * 8);
}

}
